/* body.login {
    background-color: rgb(186, 216, 216);
}
.card {
    padding: 50x 0px 20px;
    background-color: rgb(253, 251, 252);
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}
.container-fluid {
    margin-top: auto;
    width: auto;
    margin: center;

    
    

    
    
}
.img-fluid {
padding: 0 3rem 2rem;
margin-bottom: 0.0001%;
display: block;
width: 100%;
}
form.stores {
max-width: 350px;
margin: auto;

}
.btn-primary {
color: white;
background-color:darkblue;
width: 100%;
}


a.balt {
    font-size: 1.2rem;
    display: block;
    margin-top: 03px;
    WIDTH: 100%;

}

a.alt {
    font-size: 1.2rem;
    display: block;
    margin-top: 1px
    
} */